body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0;
	color: #4f4b44;
}
header{
	position: fixed;
	/*padding: 5%;*/
	width: 100%;
	background: rgba(255,255,255,0.5);
}
header h1{
	margin: 5px;
	float: left;
}
header h3{
	margin: 15px 10px;
	float: right;
}
#project-gallery{
	z-index: 1;
}
.project-card{
	background: rgba(166, 166, 166, 0.25);
	width: 30%;

	display: inline-block;
}
figure{
	margin: 0;
	padding: 2%;
}
figure img{
	width: 100%;
}
figcaption{
	background: rgba(166, 166, 166, 0.25);
}
aside{
	float: right;
}
#hero-image{
	width: 100%;

}
@media only screen and (max-width: 900px) {
	header{
		position: relative;
		background: white;
	}
	.project-card{
		width: 96%;
		margin: 2%;
	}
}